[2017-11-17 23:11] milenaveneziani opened #2 "Add f90nml package"
Add f90nml package to e3sm-unified conda environment. This package is needed to MPAS-Seaice unit testing.

[2018-01-24 23:58] #2 closed, assigned to xylar

[2018-02-12 20:24] xylar opened #5 "v. 1.1.3"
Changes in the next version of e3sm-unified:
- nco 4.7.3
- acme_diags 1.2.1
- mpas_analysis 0.7.0
- processflow 1.0.1

[2018-02-12 20:26] xylar commented on #5
@zshaheen, @chengzhuzhang, @milenaveneziani:

This is an issues to keep track of changes that will go into the next version of e3sm-unified.  Please add to or correct the above list if need be.

[2018-02-12 20:37] zshaheen commented on #5
Thanks @xylar. By the way, when's the ETA for the next release of the unified env? We might have another minor release of `acme_diags` soon.

[2018-02-12 21:57] xylar commented on #5
I’ll add a timetable if and when it’s clear that there is a pressing need. So far, acme_diags is the most pressing update, since nco has not yet made the 4.7.3 tag and mpas_analysis hasn’t yet uploaded a conda package (though they’re built and ready to upload).

[2018-03-12 16:35] sterlingbaldwin opened #6 "Add the processflow to unified"
I would like to add the latest version of the processflow to the next version of the e3sm-unified. Please let me know what you need to get it into the package.

[2018-03-12 21:00] xylar commented on #6
@sterlingbaldwin, all I would need to know is the package name, conda channel and version number.  Once I have those, I'll add it to the Confluence page that documents the versions in each E3SM-Unified version and I'll make sure its doesn't cause any issues when I include it in the next version.  Thanks!

[2018-03-12 22:45] sterlingbaldwin commented on #6
package name: processflow
channel: acme
version number: 1.0.1

I dont know if you need this, but to do the install it requires the following command:
[code]

[2018-03-23 18:57] xylar commented on #5
addressed by #8

[2018-03-23 18:57] #5 closed

[2018-03-23 18:57] xylar commented on #6
addressed by #8

[2018-03-23 18:57] #6 closed

[2018-05-22 21:04] xylar opened #12 "Update theta and rhea directories and groups"
Also, have a variable whether to make things world readable (like on theta and rhea) or not (everywhere else).

[2018-06-13 04:40] xylar opened #13 "ESMF_RegridWeightGen on Anvil"
Perhaps as a result of recent updates on Blues, the following errors appear:

ESMF_RegridWeightGen: /usr/lib64/libgfortran.so.3: version `GFORTRAN_1.4' not found (required by ESMF_RegridWeightGen)
ESMF_RegridWeightGen: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.15' not found (required by /lcrc/soft/climate/e3sm-unified/base/envs/e3sm_unified_1.2.0_py2.7_nox/bin/../lib/libesmf.so)

[2018-06-13 04:54] xylar opened #14 "Updates planned for 1.2.1"
NCO 4.7.5

[2018-07-09 16:32] PeterCaldwell opened #15 "module load e3sm-unified broken on theta"
The e3sm-unified modules on theta seems to be screwed up now. They try to point to paths of the form /projects/ClimateEnergy_2/software/e3sm_unified/e3sm_unified_1.1.X_py2_nox/bin but now only /projects/ClimateEnergy_2/software/e3sm_unified/ exists and it only has a subdirectory called "base".

[2018-07-09 17:23] xylar commented on #15
@PeterCaldwell, sorry about that.  I was not aware that these older versions of e3sm-unified were in use on theta.  Could you see if you can change to using e3sm-unified 1.2.0 on Theta?  See the Software and Supported Machines Confluence page for details.  If that doesn't work for you, I can attempt to re-create the older environments.

We had an issue where the current e3sm-unified could not be u

[2018-07-09 17:33] xylar commented on #15
@PeterCaldwell, following up on our phone call, I was actually able to move the old versions back in place.  I tested them out and they work fine.  They won't work on Cooley but that's not a problem.

Sorry for the confusion and hassle.

[2018-07-09 17:33] xylar commented on #15
I'll close this for now but please re-open if you have trouble.

[2018-07-09 17:33] #15 closed

[2018-07-09 17:49] milenaveneziani commented on #15
As FYI, since I ran into trouble running diagnostics on the high-res using the theta login node, I am in the process of changing a-prime so that we only use cooley at ALCF for running diagnostics. I have also included a batch job for running a-prime on cooley's compute nodes. Pinging @chengzhuzhang here as well, since I suppose this will be a general diagnostics problem at ALCF.

[2018-07-09 17:54] PeterCaldwell commented on #15
Hi Milena - to be clear, when you say "ran into trouble", you mean that ALCF folks got mad at you, right? I'm not implying you're doing anything wrong, I'm trying to figure out whether I can expect an angry call myself ;-)

[2018-07-09 17:55] milenaveneziani commented on #15
yes, they got mad at me :) I was told to either use the debug queue or cooley. The debug queue doesn't work for us because it's only for 1 hour, and we can easily go over that with the high-res..

[2018-07-09 18:07] maltrud commented on #15
@PeterCaldwell , i also got a cease email from the ALCF weenies several months ago when running ncremap.  the problem was that nco defaults to using /tmp for scratch files and if ncremap gags the large files stay there.  probably best to move to cooley for everything.

[2018-07-09 18:11] PeterCaldwell commented on #15
I thought theta scratch disks weren't available on Cooley though. Has that changed, or are you moving the data from theta -> cooley before analyzing it? The latter situation would be a bummer.

[2018-07-09 18:17] maltrud commented on #15
@PeterCaldwell , yes it has changed and the project space on theta is now visible on cooley.  before, i had to transfer files via hpss.

[2018-07-09 18:43] PeterCaldwell commented on #15
Great, I'm glad that changed. Thanks Mat.

[2018-07-09 19:16] milenaveneziani commented on #15
yes, @PeterCaldwell. The full path to the ClimateEnergy_2 project space, which works on any machine, is: `/lus/theta-fs0/projects/ClimateEnergy_2`.

[2018-07-10 18:38] xylar commented on #13
This appears to be fixed by doing:
[code]

[2018-07-10 18:38] #13 closed

[2018-07-10 18:39] xylar commented on #14
@zshaheen, @doutriaux1 and @sterlingbaldwin, could you let me know what updates you'd like to see for v1.2.1?  I'll try to get it going tomorrow.

[2018-07-10 18:39] xylar commented on #14
mpas_analysis v1.0

[2018-07-10 22:29] zshaheen commented on #14
@xylar I'm releasing v1.3.4 of e3sm_diags sometime this week. When do you plan on releasing v1.2.1 of e3sm-unified?

[2018-07-10 22:36] xylar commented on #14
@zshaheen, no rush, I just had the sense that it's about time.  We'll be releasing MPAS-Analysis v1.0 sometime in the next few days.

[2018-07-10 22:54] zshaheen commented on #14
I guess I'll wait to include any new e3sm_diags in another version of the unified env. Everyone on the team is gone, and I'd like another person to test before we release. So for this release, I don't have anything new.

[2018-07-11 21:37] xylar commented on #14
@zshaheen, I think I might hold off on 1.2.1 for now.  If there are only 2 updated packages, that doesn't seem worth the effort to deploy on all machines.  Keep me posted on the next release of e3sm_diags.

[2018-07-11 22:38] sterlingbaldwin commented on #14
@xylar Im getting closer to the processflow 2.0 release (1-2 weeks). I'll let you know once its ready.

[2018-07-11 22:55] xylar commented on #14
Okay, that also sounds good.  So it definitely sounds like I should wait.

[2018-07-25 21:36] xylar opened #17 "Add tests to environment creation script"
...including:
[code]

[2018-08-09 11:33] xylar commented on #14
Addressed by #16

[2018-08-09 11:33] #14 closed

[2018-08-09 11:33] xylar commented on #17
addressed by #16

[2018-08-09 11:33] #17 closed

[2018-08-09 11:34] xylar commented on #12
addressed by #16

[2018-08-09 11:34] #12 closed

[2018-08-09 12:16] xylar opened #18 "cdat using old libnetcdf"
when I install the latest e3sm-unified (v 1.2.1), I see:
[code]
If I list the lib directory, the version actually present is 13, not 11:
[code]

[2018-08-09 12:18] xylar commented on #18
@doutriaux1, I'm hoping you can help me with this.  I suspect that the issue is that the current build of cdat and its dependencies is from 4 months ago and it is therefore using an outdated libnetcdf (not 4.6.1, as we require for the latest e3sm-unified).  Would is be easy for you to rebuild the cdat packages with the latest conda-forge bindings?

[2018-08-09 14:18] xylar commented on #18
@doutriaux1, I am seeing the same issue on acme1 and aims4, so it really does seem to be an issue.  I'm not sure why it works on edison and cori, but my guess would be that libnetcdf.so.11 is in my library path somewhere, but not because of the anaconda environment.

[2018-08-09 14:48] xylar commented on #18
I think I may have found a solution.  If I use cdms2 v. 3.0.1 instead of 3.0, it comes from conda-forge instead of cdat and it seems to work (at least the following works):

[code]

[2018-08-09 14:48] xylar commented on #18
@doutriaux1, does that seem like the right solution to you?

[2018-08-09 15:22] doutriaux1 commented on #18
@xylar yes this is the way to go, we went through great pains to recompile everything on conda-forge with the newest compilers. You will need cdms2 3.0.1 and for the cdtime, libsdrs, libcdms, etc... Make sure you get the latest build of the latest version. We have nightly builds that tests these things so I'm confident it should work.
@zshaheen can help too, he's got a specific E3SM-DIAGS yml that

[2018-08-09 15:35] xylar commented on #18
Thanks!  Let's move the discussion to #19.

[2018-08-12 09:44] xylar commented on #18
addressed by #19

[2018-08-12 09:44] #18 closed

[2018-08-13 05:55] xylar opened #22 "processflow 2.0.2 hanging on both anvil/blues and rhea"
On both systems, I'm attempting to run `processflow.py -v`.  In both cases, the command hangs in a way that I'm not able to interrupt with `^C`.  Eventually, I have to kill the process.

On blues, I attempt to run
[code]
and on rhea:
[code]

[2018-08-23 16:06] xylar commented on #22
Resoved in processflow 2.0.4 in e3sm-unified  1.2.2

[2018-08-23 16:06] #22 closed

[2018-09-25 22:54] pwolfram opened #25 "Packages needed to support MPAS COMPASS workflow"
Following the PR at https://github.com/MPAS-Dev/MPAS-Model/pull/74, we need the following python packages needed to support use of JIGSAW in COMPASS include:

 * pyflann 1.9.1 (`conda install -c conda-forge pyflann`)
 * skimage 0.14.0 (`conda install -c conda-forge scikit-image`)

cc @sbrus89 and @mark-petersen

Note, this is not high-priority issue because only the users on this issue are affecte

[2018-10-15 19:27] pwolfram commented on #25
@xylar, latest is best, especially if that is the easiest.  I am not aware of any reason to tie to version for now.  @sbrus89, do we need these tied to a particular version number?

[2018-10-15 20:55] sbrus89 commented on #25
@xylar, I agree with @pwolfram. The latest versions are best. Thanks!

[2018-10-17 16:13] xylar commented on #25
Addressed in #26

[2018-10-17 16:13] #25 closed

[2018-10-18 14:05] vanroekel opened #27 "e3sm-unified 1.2.3 issue on NERSC"
I tried using e3sm-unified for MPAS-Analysis on NERSC this morning and am getting an error, see below
[code]
e3sm-unified/1.2.2 works fine.  If this issue is more appropriate for the MPAS-analysis repo, let me know.

[2018-10-18 16:32] xylar commented on #27
@vanroekel, thanks for pointing this out.  I can reproduce the issue.  If you access the anaconda environment the way that they prefer (see below) this doesn't happen so I guess the issue is that loading the environment as a module doesn't set required environment variables.  The following worked for me:
[code]

I'll look into whether there's a feasible way to set the required environment variable

[2018-10-18 18:32] xylar commented on #27
@vanroekel, I'm trying to figure out how to simplify things a bit.  Could you try the following (in a fresh shell on Edison) when you get a chance?
[code]
This should tell us whether the little script I made can load the environment correctly.  Hopefully sourcing that script rather than loading a module won't end up being too onerous.  I don't know what else to do because modules seem simply to be

[2018-10-18 19:56] vanroekel commented on #27
I tried, but it looks like I don't have permissions to run the script.

[2018-10-18 20:14] xylar commented on #27
Sorry about that.  Please try again when you have a chance.

[2018-10-18 20:28] vanroekel commented on #27
It works for me.  Thanks for the quick fix!  I will say I have no problem with the source activate method.  This seems like a very reasonable way to load python, at least to me.

[2018-10-18 20:38] xylar commented on #27
Yep, this just does that under the hood so users who don't want to think about it can just source a script and that script will know what the latest version is.

I'll make these helper scripts on all the machines tomorrow and then update the instructions and send out a follow-up email explaining moving away from modules (again) and apologizing for the moving target.

[2018-11-07 21:29] xylar opened #31 "specific basemap and matplotlib pinnings may be needed..."
if 3 issues aren't resolved before e3sm-unified 1.2.4, see https://github.com/MPAS-Dev/MPAS-Analysis/issues/476

[2019-01-15 18:11] xylar opened #33 "add `soft delete +python-2.7` to load_latest... scripts on Anvil"
Needed to prevent conflicting python versions.

[2019-02-04 22:32] #33 closed

[2019-02-08 21:58] xylar opened #36 "Basemap not working in csh version"
For some reason, the enviornment variable `PROJ_LIB` is not getting defined as part of `conda activate ...` in csh/tcsh/etc. (Thanks, @milenaveneziani, for pointing me to this issue.)

A solution may be to define this variable manually in the `load_latest...csh` script.

[2019-02-18 19:44] brhillman opened #37 "Library link problems on new conda install"
In a fresh conda install, I am getting link errors when trying to run NCO tools:
[code]
It looks like `openssl` is installed, but maybe `ncks` was built with a different version? Commands to install e3sm-unified:
[code]

[2019-02-18 19:51] tangq commented on #37
I got the same errors on a Mac installation via Miniconda yesterday.

[2019-02-18 19:53] brhillman commented on #37
Thanks for confirming @tangq. I should also point out that I was using Miniconda on a Linux cluster.

[2019-02-18 20:23] czender commented on #37
Pinging @xylar who might confirm whether he can reproduce the issue and whether we need to re-pin the conda NCO package to a different SSL version.

[2019-02-18 20:25] czender commented on #37
@tangq and @brhillman please post the results of `ncremap --config` so we can verify you are using the Conda NCO with the Conda SSL.

[2019-02-18 20:27] brhillman commented on #37
[code]

[2019-02-19 00:57] tangq commented on #37
dyld: Library not loaded: @rpath/libssl.1.0.0.dylib

  Referenced from: /Users/ginger/miniconda3/lib/libssh2.1.dylib

  Reason: image not found

/Users/ginger/miniconda3/bin/ncremap: line 695: [: : integer expression expected

ncremap, the NCO regridder and map- and grid-generator, version

Copyright (C) 2016--2018 Charlie Zender

This program is part of NCO, the netCDF Operators

NCO is free soft

[2019-02-19 01:04] czender commented on #37
I can verify that these are dynamic linking errors and not NCO errors per se. Until Xylar has a chance to look, your best options are 1) install an older E3SM_Unified that might work or 2) Install NCO on its own (conda install nco) and do not run in the E3SM_Unified environment or 3) run the NCO in my home directories at DOE centers (in ~/zender/[bin/lib]).

[2019-02-19 02:01] tangq commented on #37
In my case, it is a conda install nco. But it is still problematic.

[2019-02-19 03:57] xylar commented on #37
@brhillman, @tangq and @czender, I'm suspicious that this isn't a problem to do with e3sm-unified.  I haven't seen this linking error on any of the machines where I've installed it (which are all linux, not osx).

I suspect that @brhillman's issue is different from @tangq's.  Regarding @tangq's issue, it may be that there's some issue with the NCO build for OSX or a conflict with your existing env

[2019-02-19 04:11] tangq commented on #37
@xylar , on your command, you specified python2.7. I used python3.7 Miniconda. I will try the python2.7 Miniconda to verify if python version is the cause of this issue.

The Mac has just updated its system. It is possible that the OSX is too new for the NCO build.

[2019-02-19 04:18] xylar commented on #37
@tangq, it shouldn't matter.  e3sm-unified only supports python 2.7 (and nco doesn't care about python) so whichever miniconda you use, you'll get python 2.7 in e3sm-unified.

[2019-02-19 04:21] xylar commented on #37
On my own machine, I can install e3sm-unified:
[code]
I see a warning but I've never seen any errors result from it:
[code]
Just for completeness, here's the result of the command @czender requested.
[code]

[2019-02-19 04:23] tangq commented on #37
@xylar, I should clarify that I installed NCO on its own (conda install nco), not with e3sm-unified. Will it make a difference in terms of which python version is default?

[2019-02-19 04:23] xylar commented on #37
If I had to guess, I think @brhillman's issue may come from a system library that's getting loaded through `LD_LIBRARY_PATH` and overriding python.  (conda environments don't play well with `LD_LIBRARY_PATH`.)  @brhillman, could you post (or email me if you prefer) the output from `env`?

[2019-02-19 04:24] xylar commented on #37
@tangq, you don't need to install python at all if you're installing NCO on its own. Which version you install shouldn't make any difference.  I think your issue is something else but I'm not a Mac guy so I really won't be much help there, I'm afraid.

[2019-02-19 04:29] tangq commented on #37
I followed the NCO documentation (http://nco.sourceforge.net/) to install it via Anaconda. That's why python is mentioned here. There are other ways listed on that page for Mac installation. I will try them. Thank you, @xylar .

[2019-02-19 05:41] czender commented on #37
Thanks for helping, Xylar. Two reports of a link error in a short time made me think there had been a conda update that broke new installs, but your testing probably would have caught that. The dynamic linking error could by caused by `LD_LIBRARY_PATH` confusion, that's where I'd recommend looking too.

[2019-02-19 22:56] xylar opened #38 "cdms2 3.0.1 incompatible with latest conda-build"
The conda recipe for `cdma2=3.0.1` has syntax that the latest conda-build doesn't support:
[code]
The newest versions of `cdms2` on `conda-forge` (3.1.2) don't have this problem but isn't compatible with `e3sm_diags`.

[2019-02-19 22:58] xylar commented on #38
@zshaheen, I'm not going to be able to make a new version of e3sm-unified until this issue gets fixed.  Is there any chance you could try a build of `e3sm_diags` with a newer version of `cdms2` and perhaps other `cdat` packages?

[2019-02-19 23:18] zshaheen commented on #38
@dnadeau4, @doutriaux1, didn't you guys have a similar issue like this? I think you guys said that for some reason, the newest version on `conda-build` gave issues, specifically regarding `cdms2`. Any input?

[2019-02-19 23:24] xylar commented on #38
It's been fixed on conda-forge (not sure about the cdat channel).  It's just that v.3.01 hasn't been rebuilt with the fix.  Is the easiest solution to rebuild the old version with the new metapackage?  Is there a good reason not to update `e3sm_diags` to a more recent version?

[2019-02-19 23:55] xylar commented on #38
Digging into this a bit further, I now see that the latest release of cdat (8.0) only works with v3.0.1, so unless we're good with using a nightly build of cdat, there's not a good option to upgrade.  I'll request a rebuild of 3.0.1

[2019-02-20 00:07] zshaheen commented on #38
@xylar, I can build `e3sm_diags` with the latest version of of `cdms`, but I don't know if that would fix it. @dnadeau4, is whatever causing this issue be fixed in the later versions of `cdms`?

I'm asking because building `v3.0.1` with an older version of `conda-build`worked fine for me. So this issue might not have been addressed. If not, like Xylar said, we'd need a rebuild.

[2019-02-20 00:19] xylar commented on #38
I have a PR here for rebuilding: https://github.com/conda-forge/cdms2-feedstock/pull/27

I'm not saying that's the best option but it might work.

Yes, I can build a metapackage with just `cdms2 ==3.1.2` just fine.  That's because the unsupported syntax for specifying the versions of `esmf` and `esmpy` were removed in later versions.  The problem is finding a version of all the other cdat packages

[2019-02-20 00:43] xylar commented on #37
I'm going to leave this open for now but, @brhillman and @tangq, if you find a working solution on your respective machines, please comment here and close the issue.

[2019-02-20 00:44] xylar commented on #36
A solution has been found and deployed on all E3SM supported machines.  It will be included in this repo with v1.2.5.

[2019-02-20 00:45] xylar commented on #31
The MPAS-Analysis conda recipe includes restrictions to avoid this issue so e3sm-unified doesn't need to address it.

[2019-02-20 00:45] #31 closed

[2019-02-20 01:31] xylar commented on #38
Okay, so I think I now understand the problem better.  The latest `conda`/`conda-build` doesn't think that `esmf=7.1.0r` satisfies `esmf>=7.1.*`, presumably because it is a release candidate.  Presumably, this is a new behavior and release candidates were handled okay before.  I'll see if there's anything more I can figure out about this but currently there is no such release version of ESMF (or E

[2019-02-20 01:43] xylar commented on #38
Ah, there's already an issue about this:
https://github.com/conda/conda/issues/8309

[2019-02-20 01:56] xylar commented on #38
If I go back to `conda=4.5.12`, the issue goes away when I use `conda create...`.  I may have to go back to an earlier `conda-build` as well, we'll see.  But maybe this is the solution for now.

[2019-02-20 10:03] alaniwi commented on #38
@xylar For your info, it seems that `conda=4.5.13` (i.e. the latest 4.5.x) was the latest version where it worked, and `conda=4.6.1` was the first version where it didn't.

(By the way, sorry, I am not going to follow this thread.)

[2019-02-20 16:48] brhillman commented on #37
@xylar sorry I meant to get to this yesterday and ran out of time. I will investigate a little more today. I ended up bailing on using e3sm-unified and setup my own environment to solve my immediate problem (yes I can get NCO working by itself). I'm going to try setting up a fresh e3sm-unified environment to see if I can reproduce this issue and then report back.

[2019-02-20 17:11] brhillman commented on #37
@xylar on my Mac I am trying the following command, copied from yours above:
[code]
and getting the following error:
[code]
This is with a local Anaconda install. Oddly, this same command succeeds on the Linux cluster I am using (on which I have installed a local Miniconda), and `ncks` seems to work without issue there:
[code]

[2019-02-20 18:10] xylar commented on #37
So a lot of e3sm-unified packages aren't built for OSX so I think you'll have not luck there.  For now, your only option is to build your own environment with a subset of packages that work on the mac.

[2019-02-20 18:20] brhillman commented on #37
Yeah that’s no problem. I think I’ll close this issue, because specifying the packages on the create env line seemed to fix my library link error. You might want to add this to the README at the top level of the repo, that was a useful hint I think.

[2019-02-20 18:20] #37 closed

[2019-02-20 18:24] xylar commented on #37
Thanks @brhillman.  I'm happy to look into it further if you have any luck tracking down the linking issue, perhaps to interactions between some specific packages.  I know how hard that can be, though, so probably not worth your time if you have another solution.

I noted the lack of support for OSX and Windows near the top of the README.md just now.  Thanks for the suggestion.

[2019-02-20 18:29] brhillman commented on #37
I’d also consider adding a note in the README about installing the via the conda create command (as you suggested in this thread) as opposed to conda install (as the the README current suggests). This seems to be more robust, and I would not have thought of that had you not suggested it here in this thread.

[2019-02-20 18:42] xylar commented on #37
Ah, thanks for that.  The README.md is as bit out of date so that's a very good point.

[2019-02-20 18:47] czender commented on #37
@brhillman does a simple NCO install like this
`conda install -c conda-forge nco
`
always work for you? on both Linux and MacOS? Or should I change the standalone NCO install recommendation to something more complex like
`conda create -n nco -c conda-forge python=2.7 nco
`
Thoughts?

[2019-02-20 18:57] xylar commented on #37
@czender, the issue with `conda create` vs. `conda install` is basically to do with getting the expected versions of packages.  `conda create` is considered "best practices" but `conda install` should work just fine in nearly all cases.

It's also not considered a good practice to install into the `base` environment so that's why creating a new environment is encouraged.  Which you want to suggest

[2019-02-20 19:04] brhillman commented on #37
For what it's worth, I've never really had a problem with installing just NCO, I think the problem here was a bunch of other dependencies being brought in for e3sm-unified (and more than likely some user error on my part).

[2019-02-20 19:06] czender commented on #37
Thanks, both of you. I'll leave the standalone NCO instructions as is for simplicity. It's good to know that is an escape hatch for more complex environments.

[2019-02-20 20:03] tangq commented on #37
@czender , I suspect the issue I had for the standalone NCO installation is caused by the recent OS upgrade. However, I don't have an older MAC system to test on right now. I will report back if I have updates.

It is also good to know it's better to use `conda create`. Thanks, @xylar .

[2019-02-21 04:13] xylar opened #40 "python 3.7 version of e3sm-unified"
Packages that support python 3.7:
- [x] cdat_info
- [x] cdms2
- [x] cdtime
- [x] cdutil
- [x] genutil
- [x] vtk-cdat
- [x] dv3d
- [x] vcs
- [x] vcsaddons
- [x] output_viewer
- [ ] e3sm_diags ==1.6.1
- [x] xarray
- [x] dask
- [x] nco
- [x] lxml
- [x] sympy
- [x] pyproj
- [x] pytest
- [x] shapely
- [x] cartopy
- [x] progressbar2
- [x] pillow
- [x] numpy >1.13
- [x] scipy
- [x] matplotlib
- [x] basem

[2019-02-21 04:27] xylar commented on #40
@jhkennedy, here's what we're up against, I'm afraid.  A lot of CDAT packages (those from the CDAT channel) aren't built with python 3.7 yet.  I think both `processflow` and `zstash` are strictly python 2.7 right now.

[2019-02-21 04:42] rljacob commented on #40
@jgfouca didn't CIME use six.py to help support both python 2 and python 3?   Maybe that could help here.

[2019-02-21 04:50] xylar commented on #40
@rljacob, thanks for the tip.  I think we have a pretty good handle on the process for making packages work with both.  @jhkennedy and I have both done this with LIVVKit and MPAS-Analysis, respectively.  I think @zshaheen and @chengzhuzhang have also done this with e3sm_diags.

The remaining work falls into two categories:
* A lot of CDAT packages (on the `cdat` channel) were built with python 3.6

[2019-02-21 06:45] xylar commented on #40
As a fallback, all of the packages we need from the `cdat` channel do support python 3.6.  So if we get to a point where `processflow` and `zstash` are ready to go but `cdat` stuff isn't, we could do the first py3 version with 3.6.

[2019-02-21 14:25] xylar opened #41 "Mac OSX build of e3sm-unified"
I've had several recent requests for (or, more accurately some confusion about) an OSX version of e3sm-unified.  All (or at least nearly all) conda-forge packages should support it.  I think many CDAT as well.  I don't think any (or not many) of the e3sm channel packages do.

Packages that support OSX:
- [x] cdat_info ==8.0
- [x] cdms2 ==3.1.2
- [x] cdtime ==3.1.2
- [x] cdutil ==8.0
- [x] genutil

[2019-02-21 14:58] xylar commented on #41
With some help from @jhkennedy, I could probably move the 2 globus packages to conda-forge and they would get built properly.

@sterlingbaldwin, how hard would it be to make an OSX build of processflow (and would that even make sense to do)?

[2019-02-21 15:00] jhkennedy commented on #41
I'm happy to help with the globus packages

[2019-02-21 15:28] xylar commented on #40
It sounds like the various `cdat` packages will have a v8.1 release early next week, including python 3.7 support!  So that will take care of most of this.

[2019-02-21 15:36] xylar commented on #41
The current packages [here](https://github.com/E3SM-Project/e3sm-unified/blob/master/globus-cli/meta.yaml) and [here](https://github.com/E3SM-Project/e3sm-unified/blob/master/globus-sdk/meta.yaml) were created using the automated tools from the pypi projects [here](https://pypi.org/project/globus-cli/) and [here](https://pypi.org/project/globus-sdk/)

My guess is that there are tools from creating

[2019-02-21 15:49] xylar commented on #41
Based on the FAQ, they suggest using either `skeleton` and then editing the `meta.yaml` or just creating the `meta.yaml` from scratch, so I guess my existing recipes will be the starting point.  Looks easier than I feared.

[2019-02-21 15:51] jhkennedy commented on #41
Both those recipes are pretty straight forward, so I don't think they'll need much modification. They do like you to minimize the jinja2 template variables, so I suspect they'll ask you to not include these as variables:

[code]

The basic process for conda-forge is:
* to fork `https://github.com/conda-forge/staged-recipes`
* add the recipe for `PACKAGE` under the `recipes/PACKAGE` directory
* ope

[2019-02-21 16:28] sterlingbaldwin commented on #41
Is it possible to do an OSX build without the processflow/globus packages? Ive had a couple users ask for a serial version, but for the time being processflow expects to be running on a cluster and submits all its jobs to slurm/pbs.

[2019-02-21 16:47] xylar commented on #41
Yes, it would be possible.  I think it's worth migrating `globus` to `conda-forge` and seeing if we can support OSX.  But we could drop `processflow` from the OSX version.

[2019-02-21 16:48] xylar commented on #41
Thanks for the instructions, @jhkennedy

[2019-02-21 16:50] sterlingbaldwin commented on #41
At the last E3SM meeting there were a couple users that asked for a serial version they could use to run small jobs on their workstations, so this is something I want to support but I dont want to hold you back for the time being.

[2019-02-21 19:41] rljacob commented on #40
Q:  what does it mean to "support" python 3.6 vs. 3.7?   Are python minor versions so different that code is not forward portable?  Like going from 2 to 3?

[2019-02-21 19:56] jhkennedy commented on #40
@rljacob in the conda context, it means there is a compatible build for that specific version of python. Fore example, `e3sm_nex` has a build matrix that includes py27, py36, win, osx, and linux, which you can see reflected in the file names here: https://anaconda.org/cdat/e3sm_nex/files

So supporting python 3.7 just requires someone to build a 3.7 version (or building a noarch package that works

[2019-02-21 20:01] jhkennedy commented on #40
And python minor versions should be backwards compatible, so if it works in 3.x it should work in 3.x+1.

See [PEP 387](https://www.python.org/dev/peps/pep-0387/)

[2019-02-21 20:01] xylar commented on #40
Thanks @jhkennedy, that covers it and I was in the process of writing essentially the same thing.

As @jhkennedy said, it's not necessarily about changing the code (I didn't have to do anything in MPAS-Analysis to support 3.6 and 3.7 once I got set up for python 3.5) but each package has to either be specifically built for each python major and minor version or it has to say that it works with all

[2019-02-21 21:03] rljacob commented on #41
If processflow is in the MacOSX build, can we just tell people "don't use this"?  The rest of the packages will still work right?

[2019-02-21 21:43] zshaheen commented on #41
Yeah, `zstash`, which depends on `hsi` isn't going to work on macOS as well. Since `hsi` is closed sourced (or something like that) I don't think we'll get a macOS version.

[2019-02-21 22:59] xylar commented on #41
Okay, that's fine.  `zstash` is a no, `processflow` is a probably not for OSX.  We can certainly do that.  I think it's better to just not include the package in the OSX build rather than including it but telling people not to use it.  That's not a problem.

[2019-02-26 14:27] vanroekel opened #42 "e3sm-unified no longer supports high res analysis (cdf5 not supported)"
I just went back to running mpas-analysis on the high res coupled output on theta.  using the latest e3sm-unified I get the following error
[code]
It seems like libnetcdf in this version doesn't support cdf5.  I went back in versions as I know I've used mpas-analysis with e3sm-unified on theta before and the last version cdf5 worked was v1.2.0

[2019-02-26 14:41] xylar commented on #42
@vanroekel, this should have been fixed almost a year ago: https://github.com/conda-forge/libnetcdf-feedstock/issues/42

You appear to be 2 versions behind in the version of e3sm-unified you're using.  The latest e3sm-unified is 1.2.4 and it can be accessed by sourcing the script `load_latest_e3sm_unified.sh`, as I've detailed in two different emails to e3sm-all.  The full path on cooley is:
[code

[2019-02-26 14:51] vanroekel commented on #42
Definitely not using modules or working on the login node.  I was using e3sm-unified 1.2.3.  Given this, I actually just realized that my error file was being appended to by multiple jobs and the error I posted is indeed old.  The reason my job was dying had nothing to do with e3sm-unified.  It was a bad file path further down in the file.  I've also updated to 1.2.4.  Things seem fine now.  Sorry

[2019-02-26 14:51] #42 closed

[2019-02-26 14:59] xylar commented on #42
So glad!

[2019-04-01 03:58] xylar opened #45 "Anvil/Blues is getting upgraded to slurm and LMod (yay!)"
This may require an update to the install script, for example there may be no need to unset LD_LIBRARY_PATH (though that needs to be verified.

[2019-04-01 03:59] xylar commented on #45
http://www.lcrc.anl.gov/blues-upgrade-to-centos-7/

[2019-04-10 20:11] xylar opened #46 "not able to add latest processflow and e3sm_unified versions"
When building, I'm getting errors like this:
[code]
A local build of `processflow` and `e3sm_diags` appears to take care of this, so I suspect that this could be related to using an old version of conda-build.  Not sure.

[2019-04-10 20:52] xylar commented on #46
Seems to be resolved by removing `channel_priority: strict` from by `.condarc` file.  Not my favorite solution but I'll live with it.

[2019-04-10 20:52] #46 closed

[2019-04-10 21:00] xylar opened #47 "many packages in e3sm-unified are cobbering other packages"
I have turned on the conda option `path_conflict: prevent` and discovered to my horror just now many packages in e3sm-unified are overwriting other packages.  Guilty parties include:
* `cmor` overwriting `json-c` (https://github.com/conda-forge/cmor-feedstock/issues/11 and https://github.com/PCMDI/cmor/issues/469)
* `ossuuid` (used by `cmor` and `libcf` and maybe others) overwriting `libuuid` (htt

[2019-04-17 21:57] #36 closed

[2019-05-10 09:26] #45 closed

[2019-05-10 09:27] #40 closed

[2019-05-10 09:27] #41 closed

[2019-05-10 09:28] #38 closed

[2019-06-05 20:04] xylar commented on #47
Since this is ultimately not an e3sm-unified problem but upstream and I have done what I can, I'm going to close this issue.

[2019-06-05 20:04] #47 closed

[2019-07-12 19:59] xylar opened #51 "problem packages for e3sm-unified 1.2.6"
A number of packages are giving me trouble for e3sm-unified 1.2.6:
- [x] `output_viewer` - no `conda-forge` build for python 3.7.  Need this PR merged: https://github.com/conda-forge/output_viewer-feedstock/pull/4.  This is also a dependency of `e3sm_diags`, which is a dependency of `processflow`, so neither of those can be included without this fix.
- [x] `thermo` - conflicting package in `conda-

[2019-07-16 20:21] #51 closed

[2019-08-18 19:28] xylar opened #54 "mpi4py on HPC"
mpi4py (used by ilamb) doesn’t work properly on cori and is not likely performant on other HPC.

[2019-08-18 19:30] xylar commented on #54
@jhkennedy, I’ve been in discussion with Min about a workaround but worth discussing between the two of us, too.

[2019-09-06 04:28] xylar opened #56 "CI for building containers is currently broken"
@rpwagner, could you have a look at this when you have time?

[2019-09-09 12:54] rpwagner commented on #56
@xylar working on it now.

[2019-09-09 13:02] rpwagner opened #58 "Enable better CI"
@xylar Once the CI build is fixed, we need to work out the chicken and egg problem with CI. Currently, testing the `e3sm-unified` Conda metapackage depends on Conda being updated. For actual CI, we should be doing `conda create` using the metapackage definition in the repo or pull request.

Nightly builds do basically what we want by checking that changes in dependencies aren't breaking things. Bu

[2019-09-09 13:05] rpwagner commented on #56
Fixed via #57

[2019-09-09 13:05] #56 closed

[2019-09-09 14:03] xylar commented on #58
@rpwagner, I agree that the fast compromise of using the latest version for nightly builds would be the starting point.

Once that is done, we would need to switch to downloading the source from the PR, building the package with conda-build, and installing it from "local" for CI on PRs and merges.  Nightly CI should still use the latest uploaded package.

[2019-09-09 14:07] rpwagner commented on #58
@xylar, OK. I'll do a PR updating the definition file to ensure it's building now, before #55 is merged.

[2019-10-30 19:56] xylar commented on #54
I'm following these instructions at NERSC:
https://docs.nersc.gov/programming/high-level-environments/python/mpi4py/#mpi4py-in-your-custom-conda-environment

[2019-10-30 19:58] xylar commented on #54
I also tested on compy with:
[code]
The resulting environment with `mpi4py` appears to work for calls to `mpirun` but not to `srun`.  @rljacob, do you know if/under what conditions `srun` works on `compy`?

[2019-10-30 20:44] xylar commented on #54
I haven't tested yet, but I think the system MPI and the conda installation of OpenMPI aren't going to play nice with one another.  The `esmf` package depends on `openmpi` and is a dependency of `nco` so we're going to be in a bit of trouble.  Things might work at NERSC via `srun` (which uses system MPI) for `mpi4py` calls and `mpirun` (which will use the conda `openmpi`) for `esmf` calls. But, gi

[2019-10-31 12:07] xylar commented on #54
I believe I have a solution.  Testing will be needed.

[2019-11-01 21:30] xylar opened #61 "e3sm_diags doesn't work in sysmpi environment"
At least on compy, no luck with `e3sm_diags` in the sysmpi envrionments.

From @chengzhuzhang:

[code]

These errors likely result from the custom-built `esmf` I included in this environment to remove MPI dependence.  It may be that no packages that rely on `esmf` will work in the `sysmpi` environment or the problem may just lie with `esmpy`.  More testing is needed.

[2019-11-04 20:58] xylar commented on #54
So the solution I came up with doesn't seem to work for `esmpy` (and therefore maybe not for many of our packages, thought `e3sm_diags` is the only one where I'm sure).  I'll explore more for the next release...

[2019-11-04 20:58] #54 closed

[2019-11-16 06:23] rpwagner opened #65 "Build failing due to Dask dependency"
I saw that the Travis CI build was failing so I triggered a no-change build to confirm. This error happens when trying to activate the environment:

[code]

[2019-11-16 10:55] xylar commented on #65
closed by #66

[2019-11-16 10:55] #65 closed

[2020-02-04 22:53] xylar opened #69 "v1.3.0 not building with numpy 1.18.1"
CI is currently failing because of the issue described in https://github.com/CDAT/cdms/issues/384.

The issue has been fixed with a patch in build 7 of `cdms2` 3.1.4 but E3SM-Unified 1.3.0 isn't picking up that build (probably because of pinnings of other packages.  Needs investigation unless we want to pin E3SM-Unified to `numpy < 1.18`.

[2020-02-08 04:05] #69 closed

[2020-03-06 09:42] xylar commented on #61
I have decided not to pursue the `sysmpi` environment any further.  It doesn't seem to work well for most of our workflow.  It works with `mpi4py`, which can be built from source against the system MPI with relatively little difficulty but not for packages like `libhdf5`, `libnetcdf` and `esmf` that need to be compiled against system MPI and have a large number of other dependencies that need to b

[2020-03-06 09:42] #61 closed

[2020-03-26 05:05] eroesler opened #72 "Change from acme to e3sm on NERSC"
In
/global/project/projectdirs/e3sm/software/anaconda_envs/load_latest_e3sm_unified.sh

can you please change

source /global/cfs/cdirs/acme/software/anaconda_envs/base/etc/profile.d/conda.sh

to

source /global/cfs/cdirs/e3sm/software/anaconda_envs/base/etc/profile.d/conda.sh

[2020-03-26 07:00] xylar commented on #72
@eroesler, thanks for bringing this to my attention.  This will require rebuilding the environments rather than just modifying the link because they include hard-coded paths.  I'll work on this now and update the documentation once it's done.

[2020-03-26 13:44] xylar commented on #72
@eroesler, thank you again.  The environments have now been replaced with new ones with the correct path.  Please email me or open a new issue if you have any trouble.

[2020-03-26 13:44] #72 closed

[2020-07-16 17:46] xylar commented on #58
It's working fine for me to first upload packages and then update CI to use the new packages, so I'm going to close this.

[2020-07-16 17:46] #58 closed

[2020-07-16 18:56] tangq opened #75 "cdscan fails on grib control files"
cdscan has been used to merge multiple grib control files into a single file. However, it fails with the newer versions in the e3sm_unified. The follow errors appears with e3sm_unified_1.2.6 and 1.3.0.

This is likely an issue with newer cdscan version. An older version from uvcdat 2.4.1 on the other machine works fine.

The files to reproduce this issue is at cori:/global/cscratch1/sd/tang30/ECMW

[2020-07-16 19:04] chengzhuzhang commented on #75
@tangq Hi. I think it would be helpful to isolate to see if this is a cdscan or e3sm_unified problem. I will try test with standalone cdat environment to test if cdscan applies to the particular data.

[2020-07-16 19:22] chengzhuzhang commented on #75
I tested cdscan within different cdms2 versions (3.0.0 and 3.1.4) was able to reproduce @tangq 's error in v3.1.4. Cdscan in v3.0.0 works. I'm directing this issue to CDAT development team.

[2020-07-16 19:24] tangq commented on #75
Thanks @chengzhuzhang for the help. It would be nice if the cdscan fix can be added to the newly released e3sm_unified.

Since the older cdscan works, I assume the fix should be relatively minor and quick.

[2020-07-16 19:29] tangq commented on #75
@chengzhuzhang , did you run the old cdscan on cori? If so, is that possible for me to use the older version? I need to run it for multiple years of data.

[2020-07-16 19:40] chengzhuzhang commented on #75
I tried in one of my old environment for e3sm_diags. I can create the .xmls for you. Just let me know how and where I should create those files.

[2020-07-16 19:55] xylar commented on #75
@tangq, this is the first I'm hearing about `cdscan`.  If it needs to be supported in E3SM-Unified, I would need to know about it and help to make sure it works before deploying the environment.  It isn't really possible to just add a fix after the fact.  It takes me weeks or months to make sure all the packages work together and upgrading one can break that delicate balance, so I really need all

[2020-07-16 20:04] xylar commented on #75
I see, after some investigation, `cdscan` is a package of `cdms2`, so, yeah, this is an issue for CDAT folks.

Even if there's a bug fix, I'm hesitant to include it in this version of E3SM-Unified unless we can also be sure that E3SM_Diags works fine with the new version.  And we'd need a new release really soon to not hold up the roll-out.  Talking with @muryanto1, it sounded like they're testing

[2020-07-16 20:41] tangq commented on #75
@xylar , thanks for the clarifications. I will use some older cdms2 as a temporary solution.

[2020-07-16 20:42] tangq commented on #75
Thanks, @chengzhuzhang . Some of the grib files are still downloading. I will let you know when it's complete.

[2020-07-17 18:24] xylar commented on #75
This seems to be getting addressed here:
https://github.com/CDAT/cdms/pull/399

Once it is handled, I think I can patch the existing version of cdms2 to include this fix as well.  If that happens very soon, I might be able to include it in E3SM-Unified 1.3.1 after all.

[2020-07-18 09:45] xylar commented on #75
@tangq, this has been fixed in the latest `cdms2` and I have a PR in to patch the current release as well: https://github.com/conda-forge/cdms2-feedstock/pull/57

Once that is in, I will rebuild E3SM-Unified on compy and anvil, and ask you to try again.  Hopefully, by Monday.

[2020-07-18 17:03] tangq commented on #75
@xylar , the issue reported there is for netcdf files. I am not sure if the fix can also solve the issue here for the grib control files. I will need to test it once you rebuild the ESM-Unified. Thanks.

[2020-07-18 17:14] xylar commented on #75
@tangq, E3SM-Unified really isn't a good place for testing this. I'll do it this time but we need to figure out a better workflow for noticing these issues earlier and testing with the new packages as they are released. That's way outside of my job description.

[2020-07-18 17:25] xylar commented on #75
@rljacob and @chengzhuzhang, can we add a discussion of how to better stress test E3SM-Unified to an IG agenda?

[2020-07-18 17:32] tangq commented on #75
@xylar , I agree that this is not an E3SM-Unified issue. It should be addressed by individual packages before it is integrated into E3SM-Unified.

[2020-07-18 17:34] tangq commented on #75
On the E3SM-Unified confluence page, I noticed that packages are assigned to different people. Perhaps, they know more about these packages and thus have better testing ideas?

[2020-07-18 17:46] xylar commented on #75
Right, but if E3SM-Unified isn't very useful for the next 6 months because it includes this issue, that's too bad. So if it's easy to address, that would be great!

Yes, that's true. Especially for the "main" packages, we do expect that these people have tested them before they go into E3SM-Unified. But at least this time, a lot of issues seem to have slipped through the cracks unnoticed. This sug

[2020-07-18 19:25] chengzhuzhang commented on #75
Yes. It will be useful discussion. Also we may want to roll out a reasonable schedule for deploy E3SM-Unified, which should balance the project need and development cycle of individual packages that are in active development. A fixed schedule with testing period might be helpful for each tools to be better prepared before adding to a E3SM-Unified release.

[2020-07-19 10:19] xylar commented on #75
@tangq, I have updated e3sm-unified on Anvil and Compy to include the patches in https://github.com/CDAT/cdms/pull/399 and https://github.com/conda-forge/cdms2-feedstock/pull/57.  Could you please re-test cdscan to see if you still see problems?  If so, could you make an issue on https://github.com/CDAT/cdms/issues?

[2020-07-19 18:14] tangq commented on #75
@xylar, I tested it on compy at /compyfs/tang338/tst. It got the same errors.

I am not sure the env loaded by `source /compyfs/software/e3sm-unified/load_latest_e3sm_unified.sh` contains this fix, because it still loads e3sm_unified_1.3.0 and I don't see version 1.3.1 in the base/envs.

If there is another way to load the E3SM-Unified with the patches, please let me know and I can test again.

[2020-07-19 18:56] xylar commented on #75
@tangq oh, no!  I'm sorry about that!  Thing have moved to:
[code]
But I didn't update the path on Confluence.  I'm doing my best to fix that now.

[2020-07-19 20:03] tangq commented on #75
Using 1.3.1 I got the same errors:
[code]

It looks like that the "list" command is not added on these lines...This is why I am not a fan of the non-backward compatible python updates.

[2020-07-19 20:14] xylar commented on #75
@tangq, That's too bad!  As I said, this is an issue for CDAT folks.  But it looks like a fix is unlikely to make it into this E3SM-Unified.

I don't understand why this is relevant.  The update was incomplete but I don't think this is related to backwards compatibility...

[2020-07-19 22:40] tangq commented on #75
The cdscan issue is caused by that py3 is not backward compatible with py2. The fix CDAT put in is adding list() around some statements. I should have made it clearer that the update I meant is the py3 updates, not the E3SM-Unified updates.

[2020-07-20 08:31] xylar commented on #75
Ah, I see.  Yes, python major versions are not meant to be backwards compatible.  That may seem inconvenient but it comes with a lot more freedom to improve the performance and API over time.  And there were 8 years of warning that python 2 would go away...

[2020-07-21 16:07] xylar commented on #75
I'm going to close this again.  I am almost done deploying E3SM-Unified 1.3.1.  All other issues that we identified have been addressed and it doesn't seem like there will be a quick enough fix for this one to make the cut.

@tangq, please do open an issue with the CDAT folks if you haven't already.  It would be nice to have this fixed and ready for the next E3SM-Unified release in 6 months or so.

[2020-07-21 16:08] #75 closed

[2020-07-21 17:10] tangq commented on #75
@xylar , sounds good. @chengzhuzhang opened an issue for this already.

[2020-08-24 19:51] wlin7 opened #79 "latest ncremap failed with vertical interpolation"
This happened on cori with latest e3sm_unified. The vertical interpolation was for an EAM initial file.  The error message is
`/global/cfs/cdirs/e3sm/software/anaconda_envs/base/envs/e3sm_unified_1.3.1/bin/ncremap: line 2767: 60854 Segmentation fault`

The command to run and reproduce the error
[code]
The script used to work well. Instead of using laetest e3sm_unified,  if activating e3sm_unified_

[2020-08-24 19:54] whannah1 commented on #79
@wlin7 can you paste the command that gave you this error?
I'm also curious what version of NCO comes with the unified environment.

[2020-08-24 19:59] xylar commented on #79
@wlin7, I'll keep this open for now but this strikes me as something pretty unlikely to be an `e3sm-unified` problem directly even if you get different behavior in different versions.  It presumably should be reported to `nco`.  But I'll let @czender decide how he would like this handled.

[2020-08-24 20:03] whannah1 commented on #79
@wlin7, I recently used the vertical interpolation without issue. I was using NCO version 4.9.2.
Looking at the unified env, I see that:
  e3sm unified 1.3.0 => NCO v. 4.8.1
  e3sm unified 1.3.1 => NCO v. 4.9.3
Back in Feb I stumbled onto an NCO bug with the vertical interpolation which should be fixed in 4.9.2. This is probably a different issue, but it might be worth trying that same command wit

[2020-08-24 22:30] wlin7 commented on #79
Thanks for tracking this issue, @xylar . I did wonder where to report. The problem is more like just an NCO issue. If any fixes are applied to certain nco files without changing path, I don't see any changes needed on the e3sm_unified side.

[2020-08-24 22:45] wlin7 commented on #79
@whannah1 , NCO v. 4.8.1 is used in e3sm_unified_3.0.  The current issue would remain when using e3sm_unified 1.3.1.  Nice to know you were able to do vertical interpolation without issue using NCO 4.9.2. If you still have the files, can you do a test using the latest e3sm_unified? Just to rule out if the specific file I used plays any role.

BTW, the script mentioned in the description of the iss

[2020-08-25 07:45] xylar commented on #79
Unfortunately, that isn't possible with `e3sm-unified`.  If there is a new `nco` release, we would need to have a new release of `e3sm-unified` to bring it in.  We can't modify an existing `e3sm-unified` environment in place.

[2020-08-25 07:50] xylar commented on #79
@whannah1, thanks for the context.  @wlin7, I tried your script with the following NCO verisons, where a check mark indicates that it worked and no check mark means it failed:

- [x] 4.8.1

- [x] 4.9.1

- [ ] 4.9.2

- [ ] 4.9.3

[2020-08-25 07:52] xylar commented on #79
So it seems possible that the same fix that @whannah1 mentioned in 4.9.2 has inadvertently led to your seg fault in this case.  I'll leavie it up to @czender from here because I think only he will know the ins and outs of ncremap well enough to handle this.

[2020-08-25 13:13] wlin7 commented on #79
Thanks for isolating the source of the issue, @xylar. With your tests, it does seem to suggest a bug was inadvertently introduced since 4.9.2, which also involves vertical interpolation.

[2020-08-25 17:17] czender commented on #79
I will take a look at this later today.  Followup at nco/nco#29.

[2020-08-25 17:17] #79 closed

[2021-02-04 23:39] wagmanbe opened #86 "slow on NERSC compute nodes"
Hi,
My E3SM diagnostics jobs aren't running. Could the e3sm unified environment be bogging it down?

Interactive jobs on NERSC knl and haswell slow to a crawl after I load the e3sm unified environment, e.g

`salloc --nodes=1 --partition=debug --time=00:30:00 -C knl

source /global/cfs/cdirs/e3sm/software/anaconda_envs/load_latest_e3sm_unified.sh`

After this, everything slows down and my diagnosti

[2021-02-05 06:34] chengzhuzhang commented on #86
I'm wondering it might not be an `e3sm-unified` problem. I just tried `e3sm-diags` from `e3sm-unified` through interactive jobs on `haswell`. It ran well. However `knl` has been problematic, it's a known issue: https://github.com/E3SM-Project/e3sm_diags/issues/314. @wagmanbe would you try it again on `haswell`? If it still gives trouble, could you share your run script and I will try reproduce.

[2021-02-05 08:54] xylar commented on #86
Are you not seeing these problems on `knl` when you use an E3SM_Diags development environment?  I have always found python packages to run slowly on 'knl`, so I would be surprised if this is specific to E3SM-Unified but can investigate if it appears to be.  But I agree that `haswell` is the recommended option for all python codes.

[2021-02-05 16:11] wagmanbe commented on #86
It's affecting both knl and haswell. Maybe it's a NERSC issue?
`salloc --nodes=1 --partition=debug --time=00:20:00 -C haswell`
`source /global/cfs/cdirs/e3sm/software/anaconda_envs/load_latest_e3sm_unified.sh` <-- Hangs for minutes.
`python` <--slow
`import os`
`from acme_diags.parameter.core_parameter import CoreParameter` <--hangs for minutes.

[2021-02-05 16:18] darincomeau commented on #86
NERSC was having problems yesterday afternoon/evening with very slow compute node performance that a few of us experienced, and was posted on their status page: https://www.nersc.gov/live-status/motd/
There's no notice now, so I'd recommend trying again.

[2021-02-05 16:23] wagmanbe commented on #86
Thank you, but this problem is occurring just the same today.

[2021-02-05 16:59] chengzhuzhang commented on #86
In this case, I suspect that the compute node problem is still there. I tried similar commands as below yesterday afternoon and got the same behavior. But tried again much later yesterday, everything looked fine...

[2021-02-05 21:03] wagmanbe commented on #86
It's at least 10x faster this afternoon.

[2021-03-08 16:46] #86 closed

[2021-04-20 21:52] chengzhuzhang opened #87 "Tempest-extreme in e3sm-unified"
Hi Xylar, I'm trying to call tempest-extreme from e3sm-unified and realized that it is not available. I think you have already made it a conda package on conda-forge. Could you make it available in the next e3sm-unified release?

[2021-04-21 06:27] xylar commented on #87
@chengzhuzhang, I'm really sorry about that.  I don't know how it was omitted.  It is definitely on the list on Confluence (along with tempest-remap).

[2021-04-21 08:32] xylar commented on #87
@chengzhuzhang, This will definitely be handed in #88 but I could also do a 1.4.1 release with tempest-extremes.  That wouldn't be a lot of work.  Let me know.

[2021-04-21 15:59] chengzhuzhang commented on #87
hey Xylar, no problem. Thank you for working on it. There might be a tempest-extremes release coming up with a new feature for TC analysis. I will check with Paul for timing.

Also tempest-extremes can be built with or without MPI. For the MPI build, one has to be on a compute node to run. Could it be possible to maintain two builds on conda forge?

[2021-04-21 16:29] xylar commented on #87
@chengzhuzhang,

I can certainly build the MPI version on conda-forge but it used the conda-forge version of MPICH (or Open-MPI) and that doesn't work on any of our supported machines.  If you want a version that uses the system MPI, that obviously won't come from conda-forge and it won't be compatible with E3SM-Unified.  This is also a problem with ILAMB.

[2021-04-21 17:08] xylar commented on #87
Update, I did make the conda-forge package build with MPI, and I just updated the draft of 1.5.0 to also use the MPI version when E3SM-Unified has MPI.  But the issue remains that the E3SM supported machines can't work with the conda-forge MPI.  I have been working for more than a year to try to find a solution to this but I don't think there is one.

[2021-04-21 17:20] chengzhuzhang commented on #87
This is problematic. I'm curious about the inclusion of tempest-remap. Do we have the same problem? I can try test a no MPI build of tempest-extreme to see if it performs adequately...

[2021-04-21 17:38] xylar commented on #87
As far as I know, only `mptempest` (via `moab`) has MPI support.  We do not yet include `moab` in E3SM-Unified so MPI support is also not available there.

[2021-04-21 17:39] xylar commented on #87
This (MPI support for diagnostics tools) is a topic we really need to have a whole IG meeting about at some point.

[2021-04-21 18:32] xylar commented on #87
One more thought.  I have built ESMF and SCORPIO on many systems using system libraries.  TempestExtremes seems much simpler than these libraries (its only dependency is `libnetcdf`).  It seems possible to work on defining a system-specific E3SM-Unified that uses system builds of some tools like ESMF, TempestExtremes and ILAMB.  This would work for executables but not for libraries.  It would also

[2021-04-21 21:17] chengzhuzhang commented on #87
This sounds like a possible path forward for this MPI support issue. Would be nice to hear from someone from IG with relevant expertise.

[2021-04-22 11:12] xylar commented on #87
I would certainly welcome input from someone from IG with expertise in building packages like this for specific machines.  But I think the bigger issue isn't so much how to build the libraries but how to maintain them as machine modules change.  E3SM is constantly updating not only current branches but also maint branches to make sure the remain compatible with machine modules.  I do not look forw

[2021-04-23 12:32] xylar commented on #87
@chengzhuzhang, I've thought about this further and looked into a test build of TempestExtremes on Anvil.  It seems like it shouldn't be too hard to replace the `conda-forge` builds of some MPI packages with our own builds for the system MPI:
* `mpi4py`
* ILAMB (just needs `mpi4py` installed with the system MPI)
* TempestExremes
* ESMF

I was afraid more packages were affected but those are the on

[2021-07-18 15:42] #87 closed

[2021-09-28 01:24] chengzhuzhang opened #95 "MPI_Init error running ilamb on LCRC"
I'm trying to setup an ilamb run on LCRC. But a test run resulted an MPI_init error as follows:

`ilamb-run --config /home/ac.zhang40/ILAMB/src/ILAMB/data/cmip.cfg --model_root /lcrc/group/e3sm/ac.zhang40/ilamb_test_data/ --regions global bona`

[code]

[2021-09-28 02:27] minxu74 commented on #95
@chengzhuzhang could you try the following command to see if it works?
`
srun -n 1 ilamb-run --config /home/ac.zhang40/ILAMB/src/ILAMB/data/cmip.cfg --model_root /lcrc/group/e3sm/ac.zhang40/ilamb_test_data/ --regions global bona
`

If it does not work, we may have to use system mpi4py, instead of the one installed by conda.

I do not have an account on LCRC machines, otherwise, I can look into it

[2021-09-28 02:30] xylar commented on #95
Thanks @minxu74.  Using system `mpi4py` might be a possibility.

[2021-09-28 16:16] chengzhuzhang commented on #95
@xylar and @minxu74 Thank you for taking a look! When I try it today, it worked. Must be some one time glitch yesterday.

[2021-09-28 17:15] #95 closed

[2021-09-28 17:25] xylar commented on #95
Okay, well that's a little disconcerting but hopefully it won't happen again.  If it does, let's try to find out more.  Using system `mpi4py`, if there is such a thing, might be an option.

[2022-07-12 21:58] chengzhuzhang opened #103 "Deploy to a new path on acme1 LLNL"
Hi @xylar,

@tomvothecoder and I are looking into a new path to deploy e3sm_unified at LLNL, so that more people at Livermore can use the e3sm_unified environment. Based on the instruction you sent for deploying e3sm_unified on acme1:

cd e3sm_supported_machine/
./deploy_e3sm_unified.py --version 1.6.0 --conda ~/miniconda3/ --release

It seems like Tom and I need to send a new path to you to updat

[2022-07-12 22:23] xylar commented on #103
Oh, shoot!  That's something in `mache`:
https://github.com/E3SM-Project/mache/blob/6698879154c14cf86646086b3e169e0ff2675052/mache/machines/acme1.cfg#L10
It would be pretty involved at this late point to do a new version of `mache`.  But we can pass a custom config file to `./deploy_e3sm_unified.py` with the `-f` flag:
https://github.com/E3SM-Project/e3sm-unified/blob/2a687c07f7d558d6057e4a8efa35f

[2022-07-12 22:30] chengzhuzhang commented on #103
@xylar Thank you for the instruction. Good that there is a workaround so that no additional mache release is needed.
@tomvothecoder would you please look into this option to deploy e3sm_unified on acme1? Thanks.

[2022-07-12 22:47] tomvothecoder commented on #103
Thanks @xylar.

I'm currently testing `./deploy_e3sm_unified.py` with the `-f` flag. In the config file, the `base_path = /p/user_pub/e3sm_unified/envs`.

[2022-07-12 22:57] xylar commented on #103
@tomvothecoder, the conda packages are still building and aren't on anaconda.org yet. But feel free to test deployment with the last release.

[2022-07-13 06:31] xylar commented on #103
@tomvothecoder, please try with 1.7.0 now that the packages have been published.

Please also
- [ ] update the path for Acme1 in the draft email [here](https://acme-climate.atlassian.net/wiki/spaces/DOC/pages/129732419/Packages+in+the+E3SM+Unified+conda+environment#Activation)
- [ ] update the base path [here](https://acme-climate.atlassian.net/wiki/spaces/ED/pages/780271950/Diagnostics+and+Analys

[2022-07-13 18:04] tomvothecoder commented on #103
I just installed v1.7.0 in the new path on acme1.

@chengzhuzhang, can you test this too? The group ownership of `/p/user_pub/e3sm_unified/` is set to `climate`, so it should work for you.

My output:
[code]

[2022-07-13 18:29] xylar commented on #103
I'm going to take that as a success. I'll merge and send the email as soon as I get back home.

[2022-07-13 18:38] tomvothecoder commented on #103
Thanks for your patience @xylar. Awesome work on `e3sm_unified` 1.7.0. Hopefully you can relax once it is released!

[2022-07-13 22:27] tomvothecoder commented on #103
Feel free to close this issue since all items from https://github.com/E3SM-Project/e3sm-unified/issues/103#issuecomment-1182820725 have been completed.

[2022-07-14 00:02] #103 closed